* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
  html, body {
    height: 90%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(135deg, wheat, orange) no-repeat;
    background-size: cover;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 1.5em;
    background-attachment: fixed;
  }

  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
 
    width: 100%;
    opacity: 0.3;
  }
  
  .login-form {
    width: 100%;
    padding: 2em;
    position: relative;
    background: rgba(0, 0, 0, 0.15);
  }
  
  .login-form:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, orange, orangered);
  }
  @media screen and (min-width: 600px) {
    .login-form {
      width: 50vw;
      max-width: 15em;
    }
  }
  
  .flex-row {
    display: flex;
    margin-bottom: 1em;
  }
  
  .lf--label {
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f6f8;
    cursor: pointer;
  }
  
  .lf--input {
    flex: 1;
    padding: 1em;
    border: 0;
    color: black;
    font-size: 1rem;
  }
  .lf--input:focus {
    outline: none;
    transition: transform 0.15s ease;
    transform: scale(1.1);
  }
  
  .lf--submit {
    display: block;
    padding: 1em;
    width: 100%;
    background: linear-gradient(to right, orange, orangered);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  }
  .lf--submit:focus {
    outline: none;
    transition: transform 0.15s ease;
    transform: scale(1.1);
  }
  
  
  ::-moz-placeholder {
    color: #8f8f8f;
  }
  
  :-ms-input-placeholder {
    color: #8f8f8f;
  }
  
  ::placeholder {
    color: #8f8f8f;
  }